@import 'styles/function';
:root {
  --toast-yoyogen-white: #fff;
  --toast-yoyogen-dark: #2b2b2b;
  --toast-yoyogen-success: #57df72;
  --toast-yoyogen-error: #f0331a;
  --toast-yoyogen-warning: #FF9F43;
}

.toast-stack .toast-stack__container {
  position: fixed;
  z-index: 1001;
  max-width: 320PX;
  transition: all 300ms linear;
}
.toast-stack .toast-stack__top-left {
  top: 15PX;
  left: 15PX;
}
.toast-stack .toast-stack__top-left > * {
  margin-bottom: 0.875rem;
}
.toast-stack .toast-stack__top-left > *:last-child {
  margin-bottom: 0;
}
.toast-stack .toast-stack__top-center {
  top: 15PX;
  left: 50%;
  transform: translateX(-50%);
}
.toast-stack .toast-stack__top-center > * {
  margin-bottom: 0.875rem;
}
.toast-stack .toast-stack__top-center > *:last-child {
  margin-bottom: 0;
}
.toast-stack .toast-stack__top-right {
  right: 15PX;
  top: 15PX;
  text-align: right;
}
.toast-stack .toast-stack__top-right > * {
  margin-bottom: 0.875rem;
}
.toast-stack .toast-stack__top-right > *:last-child {
  margin-bottom: 0;
}
.toast-stack .toast-stack__bottom-left {
  bottom: 15PX;
  left: 15PX;
}
.toast-stack .toast-stack__bottom-left > * {
  margin-top: 0.875rem;
}
.toast-stack .toast-stack__bottom-left > *:first-child {
  margin-top: 0;
}
.toast-stack .toast-stack__bottom-center {
  bottom: 15PX;
  left: 50%;
  transform: translateX(-50%);
}
.toast-stack .toast-stack__bottom-center > * {
  margin-top: 0.875rem;
}
.toast-stack .toast-stack__bottom-center > *:first-child {
  margin-top: 0;
}
.toast-stack .toast-stack__bottom-right {
  bottom: 15PX;
  right: 15PX;
  text-align: right;
}
.toast-stack .toast-stack__bottom-right > * {
  margin-top: 0.875rem;
}
.toast-stack .toast-stack__bottom-right > *:first-child {
  margin-top: 0;
}
.toast-stack .toast {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  position: relative;
  visibility: hidden;
  opacity: 0;
  display: inline-flex;
  align-items: center;
  min-height: 30PX;
  min-width: 240PX;
  max-width: 320PX;
  border-radius: 5PX;
  box-shadow: 0 2PX 8PX rgba(43, 43, 43, 0.12);
  padding: 15PX 20PX 15PX 50PX;
  background-color: #2b2b2b;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  animation: animateOpenToast 300ms ease forwards;
}
.toast-stack .toast .toast__icon {
  position: absolute;
  top: 50%;
  left: 15PX;
  transform: translateY(-50%);
  line-height: 0;
}
.toast-stack .toast .toast__message {
  font-weight: 500;
  margin: 0;
  font-size: rem2px(10);
  padding-right: 30PX;
  text-align: left;
}
.toast-stack .toast .toast__message a {
  color: #fff;
}
.toast-stack .toast .toast__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4PX;
  animation: timeoutAnimate linear forwards;
  animation-play-state: running;
}
.toast-stack .toast .toast__close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8PX;
  padding: 8PX;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;
}
.toast-stack .toast .toast__close svg {
  width: 14PX;
  height: 14PX;
  fill: #fff;
}
.toast-stack .toast .toast__close:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
.toast-stack .toast.toast--pausing .toast-progress {
  animation-play-state: paused;
}
.toast-stack .toast.toast--remove {
  animation: animateCloseToast 300ms ease forwards;
}
.toast-stack .toast.toast--white .toast__progress {
  background-color: #fff;
}
.toast-stack .toast.toast--dark .toast__progress {
  background-color: #2b2b2b;
}
.toast-stack .toast.toast--success .toast__progress {
  background-color: #57df72;
}
.toast-stack .toast.toast--error .toast__progress {
  background-color: #f0331a;
}
.toast-stack .toast.toast--warning .toast__progress {
  background-color: #FF9F43;
}
.toast-stack .toast.toast--filled.toast--white {
  background-color: #fff;
}
.toast-stack .toast.toast--filled.toast--dark {
  background-color: #2b2b2b;
}
.toast-stack .toast.toast--filled.toast--success {
  background-color: #57df72;
}
.toast-stack .toast.toast--filled.toast--error {
  background-color: #f0331a;
}
.toast-stack .toast.toast--filled.toast--warning {
  background-color: #FF9F43;
}
.toast-stack .toast.toast--filled .toast__progress {
  background-color: rgba(255, 255, 255, 0.4);
}
@keyframes animateOpenToast {
  from {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes animateCloseToast {
  from {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes timeoutAnimate {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}