@import 'styles/function';
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border: 1PX solid #000;
    .nav {
        display: flex;
        width: 100%;
        align-items: center;
        height: rem2px(50);
        padding-left: 2em;
        font-size: rem2px(18);
        font-weight: 500;
        border-bottom: 1PX solid #000;
    }
    .container {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .slogan {
            display: flex;
            align-items: center;
            line-height: 1;
            flex-direction: column;
            font-weight: bold;
            font-size: rem2px(24);
            letter-spacing: 2PX;
        }
        .desc {
            margin: rem2px(20) 0 rem2px(10);
            font-weight: 400;
            font-size: rem2px(12);
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        height: rem2px(100);
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-self: center;
        margin-top: auto;
        font-weight: 400;
        font-size: rem2px(12);
        border-top: 1PX solid #000;
    }
}